<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990469447594-4mcnd92uh4btlnrn8tc6u5h138sa5gr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990469447594-4mcnd92uh4btlnrn8tc6u5h138sa5gr8</string>
	<key>API_KEY</key>
	<string>AIzaSyD99NxTebh0ksRvEKd130whiMvrudpGBqs</string>
	<key>GCM_SENDER_ID</key>
	<string>990469447594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hbdevs.harry.Login</string>
	<key>PROJECT_ID</key>
	<string>appchat-5b896</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-5b896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990469447594:ios:e238c4d433b8e0074955d3</string>
</dict>
</plist>